body {
  margin: 0;
  background: radial-gradient(circle at top, #111, #000);
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

#app {
  padding: 20px;
}

#lyrics {
  font-size: 20px;
  line-height: 1.8;
  padding-bottom: 120px;
}


.line {
  opacity: 0.4;
  transition: all 0.3s;
}

.line.active {
  opacity: 1;
  font-size: 24px;
  font-weight: 600;
}

#controls {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

#slider {
  width: 100%;
  height: 32px;
}
